.main-content {
    margin-top: 50px; /* Отступ, равный высоте header */
}

.account-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.account-form h2 {
    margin-bottom: 20px;
}

.account-form form div {
    margin-bottom: 15px;
}

.account-form label {
    display: block;
    margin-bottom: 5px;
}

.account-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.account-form button {
    width: 100%;
    padding: 10px;
    background-color: #1C199A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.account-form p {
    margin-top: 15px;
    text-align: center;
}
