@font-face {
    font-family: 'Rimma Sans';
    src: url('/fonts/RIMMA_SANS-BOLD.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Involve';
    src: url('/fonts/Involve-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.main__content-coursesyoung {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    position: relative;
}


.main__content-coursesyoung h1 {
    font-family: 'Rimma Sans', sans-serif;
    margin-bottom: 20px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
}


.image-container {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Space between image and blocks */
    margin-left: 500px;
    margin-left: 1300px;
}

.student-image {
    width: 500px;
    height: auto;
}

